# Dependencies
node_modules

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
ios/
android/
Pods/
DerivedData/
*.xcworkspace
*.xcuserstate

# Android
.idea/
build/
gradle/
*.gradle
local.properties

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# IDE
.vscode/
*.swp
*.swo
*~

# Environment
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log

# Testing
coverage/
